@CHARSET "UTF-8";
body{
	margin: 0px;
	padding: 0px;
	background-color:#252839;
	color:#b5b5b7;
	font-weight:600;
	height:100%;
}
html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}
#footer {
  	bottom: 0;
  	left: 0;

  	background: rgba(0,0,0,.8);
  	height:40px;
  	width:800px;
  	display: flex;
  	align-items: center;
}

.footerDiv{
	width:25%;
}

#header{
	position:fixed;
	width:100%;
	height:50px;
	background-color:#252839;
}

#clock{
	font-size:6rem;
	font-weight:bold;
	font-family: Big Caslon,Book Antiqua,Palatino Linotype,Georgia,serif;
	width:100%;
	text-align:center;
}

#content{
	padding-top:55px;
	margin:0px auto;
	max-width:850px;
	height:100%;
}

#temp{
	margin: 0px auto;
	width:850px;
	max-width:90%;
}

.menu{
	padding-left:10px;
	padding-top: 10px;
	padding-bottom:5px;
}

.menu:hover {
	cursor:pointer;
}

.menuLines{
	width:40px;
	height:7px;
	border-radius: 4px;
	background-color:#fff;
	margin-bottom:4px;
}

.menuContent {
	display: table-cell;
	padding-top:10px;
	float:left;
	vertical-align: middle;
}

@media screen and (max-width: 500px) {
.menuContent {
	padding-bottom:30px;
	padding-left:30px;
	display: block;
	background-color:#252839;
	width:100%;
}
}

.floatLeft{
 	float:left;
}

.floatRight{
	float:right;
}

.marginRight10{
	margin-right:10px
}

.menuButton{
	background-color:#f2b632;
	margin-left:15px;
	color:#677077;
	border-radius: 20px;
	width:150px;
	height:30px;
	font-size:1.25rem;
	padding-top:5px;
	display: table-cell;
	vertical-align: middle;
	text-align:center;
}

.menuButton:hover{
	cursor:pointer;
	box-shadow: 3px 3px 2px #b5b5b7;
}

@media screen and (max-width: 500px) {
.menuButton {
	margin-top:10px;
	float:none;
	display:block;
	border-radius: 20px;
	width:300px;
	height:50px;
	font-size:2rem;
	line-height:110%;
}
}

@media screen and (max-width: 670px) {
#divUserName{
	display:none;
}
}

.button{
	cursor:pointer;
}

.inputSpan {
	font-size:1rem;
}

.hidden{
	display:none;
}

.UIButton {
	background-color:#f2b632;
  color:#677077;
	border-radius: 10px;
	cursor:pointer;
	padding:1px 5px 1px 5px;

}

.UIButton:hover{
	cursor:pointer;
	box-shadow: 3px 3px 2px #b5b5b7;
}

.heading{
  color:red;
}

.paddingLeft15{
  padding-left:15px;
}


.heading3{
  font-weight:700;
  font-size:1.5rem;
}


.tableHeader{
  background-color:#f2b632;
  color:#677077;
  height:20px;
  border-left: 1px solid #677077;
}


@media screen and (max-width: 500px) {
.tableHeader {
    display: none !important;
}
}

.tableContent {

}

.tableContent div span{
  display:none;
}

@media screen and (max-width: 500px) {
.tableContent div{
    float:none;
}
}

@media screen and (max-width: 500px) {
.tableContent div span{
    display:inline;
}
}


.lightbox {
    background:#fff;
    text-align:left;
    /*border:1px solid #b5b5b7;*/
    z-index: 9999;
    display: none;
    position: fixed;
    top:0px;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
		background-color:#252839;
		color:#b5b5b7;
		box-shadow: 3px 3px 2px #b5b5b7;
		border-radius: 10px;
		border-top-left-radius: 0;
}

.mask {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity: 0.50;
    filter: alpha(opacity=50);
    background-color: #000;
    z-index: 9998;
    display: none;
}
