<div>
  <span class="heading3">Clocks</span>
  <hr/>
</div>

<div id="list">
  <div class="tableHeader">
 	<div class="floatLeft" style="width:15%; min-width:25px; height:20px;"></div>
    <div class="floatLeft" style="width:15%; min-width:50px">Name</div>
    <div class="floatLeft" style="width:30%; min-width:50px">Description</div>
    <div class="floatLeft" style="width:30%; min-width:50px">Location</div>
    <div class="floatLeft" style="width:10%; min-width:50px">Active</div>
	</div>
	<div id="tblUsers" class="tableContent">
    
	</div>
	
</div>

<div id="edit" class="hidden">
	<div>
		<span class="inputSpan">Name:</span> <input type="text" id="txtName" class="inputSpan"/><br/>
	</div>
	<div>
		<span class="inputSpan">Description:</span> <input type="text" id="txtDescription" class="inputSpan"/><br/>
	</div>
	
	<div>
		<span class="inputSpan">Location:</span> <input type="text" id="txtLocation" class="inputSpan"/><br/>
	</div>
	
	<div>
	<span class="inputSpan">Active:</span> <input type="checkbox" id="cbActive" class="inputSpan"> <br/>
	</div>
	
	<div>
		<div class="floatLeft UIButton" onclick="saveClock();" id="btnSave">Save</div> 
		<div class="floatLeft UIButton" onclick="cancelSave();" id="btnCancel" >Cancel</div>
	</div>
</div>

<br/>

<br/>
<div>
<span onclick="editClock(null);" class="UIButton" id="btnAdd">Add Alarm</span>
</div>
<script type="text/javascript">
	$.getScript("./js/clock.js");
</script>