<div id="dvLogin" style="display:block;  height:100% ; margin-left:33%; margin-top: 18%;width: 50%;">
	<h2>Login:</h2>

	<div style="padding:5px;"><span>Username: </span><input id="txtUserName" type="text"/><br/></div>
	<div style="padding:5px;"><span>Password: </span><input id="txtPassword" type="password"/><br/></div>
	<div style="width:55%; margin-top:5px;" class="floatRight"><span onclick="login();" class="UIButton" id="btnLogin">Login</span></div>
</div>

<script type="text/javascript">
	$.getScript("./js/login.js");
</script>
