<div>
  <span class="heading3">Users</span>
  <hr/>
</div>

<div id="list" style="width:100%;">
	<div class="tableHeader">
	 	<div class="floatLeft" style="width:15%; min-width:25px; height:20px;"></div>
	    <div class="floatLeft" style="width:35%; min-width:50px">Username</div>
	    <div class="floatLeft" style="width:40%; min-width:50px">Role</div>
	    <div class="floatLeft" style="width:10%; min-width:50px">Active</div>
		</div>
		<div id="tblUsers" class="tableContent">
	    
		</div>
</div>

<div id="edit" class="hidden" style="width:100%;">
	<div style="width:100%;">
		<span class="inputSpan">Username:</span> <input type="text" id="txtUserName" class="inputSpan"/><br/>
	</div>
	<div style="width:100%;">
		<span class="inputSpan">Password:</span> <input type="password" id="txtPassword" class="inputSpan"/><br/>
	</div>
	
	
	<div style="width:100%;">
	<span class="inputSpan" class="margin-left:25%">Role:</span> 
	<select id="cmbRole">
		<option>Select One</option>
		<option value="USER">User</option>
		<option value="ADMIN">Admin</option>
	</select>
	<br/>
	</div>
	
	<div style="width:100%;">
	<span class="inputSpan">Active:</span> <input type="checkbox" id="cbActive" class="inputSpan"> <br/>
	</div>
	
	<div style="width:100%;">
		<div class="floatLeft UIButton" onclick="saveUser();">Save</div> <div style="margin-left: 10px;"class="floatLeft UIButton" onclick="cancelSave();">Cancel</div>
	</div>
</div>
<br/>	
<br/>
<div>
	<span onclick="editUser(null);" class="UIButton" id="btnAdd">Add User</span>
</div>
<script type="text/javascript">
	$.getScript("./js/user.js");
</script>